<template lang="pug">
  #app
    img(src='./assets/logo.png')
    PlatziMusic

</template>

<script>
import PlatziMusic from './components/platzi-music'

export default {
  name: 'App',
  components: {
    PlatziMusic
  }
}
</script>

<style lang="stylus">
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  margin-top 60px
</style>
